@media screen and (max-width: 1224px) {
  .aside {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  /* Hide user account icon */
  .global-header-action-container {
    display: none;
  }

  /* Adjust container */
  .global-header .container,
  .hero .container {
    max-width: 100%;
  }

  /* Hide chevron */
  .chevron {
    display: none;
  }

  /* Hero */
  .hero {
    margin: 0;
  }
  .hero-nav-group {
    padding: 13px 17px;
  }
  .search-form {
    margin-top: 13px;
    width: 100%;
  }
  .nav-item__header,
  .nav-item:first-child .nav-item__header {
    padding: 0;
  }

  .video-background-container {
    display: none;
  }
  .hero-nav-group {
    display: block;
    position: static;
    max-width: 100%;
  }
}
