/* ================ Init ================*/
:root {
  --header-background: #171d25;
  --main-background: #213d58;
  --category-cover: rgba(255, 255, 255, 0.2);
  --white-text: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Motiva Sans", sans-serif;
  font-size: 1.6rem;
}

/* ================ Common ================ */
.container {
  width: 940px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.heading {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white-text);
}

a {
  text-decoration: none;
}

/* Slide control group */
.slide-control-group {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.slide-control-item {
  width: 16px;
  height: 9px;
  background-color: hsla(202, 60%, 100%, 0.2);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.slide-control-item:hover {
  background-color: hsla(202, 60%, 100%, 0.35);
}

.slide-control-item.active {
  background-color: hsla(202, 60%, 100%, 0.5);
}

.slide-control-item.active:hover {
  background-color: hsla(202, 60%, 100%, 0.4);
}

/* Control group */
.fa-windows {
  color: #b6b9bc;
}

.chevron {
  position: absolute;
  padding: 25px 0;
  cursor: pointer;
}

.chevron:hover {
  opacity: 0.7;
}

.chevron-left {
  bottom: 50%;
  left: 0;
  transform: translate(-120%, 50%);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3) 5%,
    rgba(0, 0, 0, 0) 95%
  );
  padding-left: 5px;
}

.chevron-right {
  bottom: 50%;
  right: 0;
  transform: translate(120%, 50%);
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.3) 5%,
    rgba(0, 0, 0, 0) 95%
  );
  padding-right: 5px;
}

.fa-chevron-left,
.fa-chevron-right {
  color: var(--white-text);
}

/* ================ Body ================ */
body {
  background-color: var(--main-background);
}

/* ================ Header ================ */
.header {
  background-color: var(--header-background);
  text-align: center;
  padding: 20px;
}

.header__heading {
  font-size: 30px;
  color: var(--white-text);
}

/* ================ Aside Nav ================ */
.aside {
  float: left;
  margin-top: 100px;
  margin-left: 45px;
}

.aside-nav-group ~ .aside-nav-group {
  margin-top: 20px;
}

.aside-nav__header {
  color: #536f86;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.aside-nav__list {
  margin-top: 8px;
}

.aside-nav__list li ~ li {
  margin-top: 5px;
}

.aside-nav__item {
  color: #7a8b9d;
  font-size: 12px;
  font-weight: 700;
}

.aside-nav__item:hover {
  color: #66c0f4;
}

/* ================ Feature ================ */
.feature {
  padding: 20px 0;
}

.feature__main-content {
  position: relative;
  margin-top: 12px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #0a141d;
}

.feature__main-content:hover {
  cursor: pointer;
}

.feature__game-thumb,
.feature__screenshots img {
  width: 100%;
  object-fit: cover;
}

.feature__info {
  padding: 25px 10px 0;
}

.feature__app-name {
  font-size: 2.4rem;
  color: var(--white-text);
}

.feature__screenshots {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.feature__screenshots img {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.feature__screenshots img:hover {
  opacity: 1;
}

.feature__game-tags {
  margin-top: 13px;
}

.feature__game-tags span,
.feature__price {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--white-text);
}

.feature__game-tags span {
  display: inline-block;
  padding: 4px 5px;
  border-radius: 2px;
  background-color: var(--category-cover);
}

.feature__more-info {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================ Special ================ */
.special {
  margin-top: 20px;
}

.special__main-content {
  position: relative;
  margin-top: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.special-item {
  width: 100%;
}

.special-item__thumb {
  width: 100%;
  height: 276px;
  object-fit: cover;
  cursor: pointer;
}

.special-item__content {
  padding: 25px 20px;
  background-image: url("https://store.akamai.steamstatic.com/public/images/v6/home/background_spotlight.jpg");
}

.special-item__app-name {
  color: var(--white-text);
  font-size: 1.7rem;
  font-weight: 300;
}

.special-item__sale-off {
  display: inline-block;
  padding: 5px 6px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 700;
  background-color: #4c6b22;
  color: #beee11;
}
