<!-- Global header -->
<div class="global-header">
  <div class="container">
    <div class="global-header-wrap">
      <!-- Global header logo -->
      <a href="/">
        <img
          src="assets/images/logo.png"
          alt="steam-logo"
          class="global-header__logo"
        />
      </a>
      <!-- Header More -->
      <button class="header-more js-toggle" toggle-target="#global-nav">
        <img src="./assets/images/header_menu_hamburger.png" alt="" />
      </button>
      <!-- Global header nav -->
      <nav class="global-nav hide" id="global-nav">
        <ul class="global-nav-list">
          <!-- Store item -->
          <li class="profile-info"></li>
          <li class="global-nav-item mobile">
            <a class="global-nav-item__header" href="#!">LOGIN</a>
          </li>
          <li class="global-nav-item mobile">
            <a class="global-nav-item__header" href="#!">SIGNUP</a>
          </li>

          <li class="global-nav-item">
            <a class="global-nav-item__header" href="#!">STORE</a>
            <ul class="global-nav-submenu">
              <li><a class="global-nav-submenu-item" href="">Home</a></li>
              <li>
                <a class="global-nav-submenu-item" href="">Discovery Queue</a>
              </li>
              <li>
                <a class="global-nav-submenu-item" href="">Wishlist</a>
              </li>
              <li>
                <a class="global-nav-submenu-item" href="">Points Shop</a>
              </li>
              <li><a class="global-nav-submenu-item" href="">News</a></li>
              <li>
                <a class="global-nav-submenu-item" href="">Stats</a>
              </li>
            </ul>
          </li>

          <!-- Community item -->
          <li class="global-nav-item">
            <a class="global-nav-item__header" href="#!">COMMUNITY</a>
            <ul class="global-nav-submenu">
              <li><a class="global-nav-submenu-item" href="">Home</a></li>
              <li>
                <a class="global-nav-submenu-item" href="">Discussion</a>
              </li>
              <li>
                <a class="global-nav-submenu-item" href="">Work Shop</a>
              </li>
              <li>
                <a class="global-nav-submenu-item" href="">Market</a>
              </li>
              <li>
                <a class="global-nav-submenu-item" href="">Broadcasts</a>
              </li>
            </ul>
          </li>

          <!-- About item -->
          <li class="global-nav-item">
            <a class="global-nav-item__header" href="#">ABOUT</a>
          </li>

          <!-- Support item -->
          <li class="global-nav-item">
            <a class="global-nav-item__header" href="#">SUPPORT</a>
          </li>

          <li class="logout-btn global-nav-item">
            <a class="global-nav-item__header" href="#!">LOGOUT</a>
          </li>
        </ul>
      </nav>
      <div class="navbar__overlay js-toggle" toggle-target="#global-nav"></div>

      <!-- Global header action  -->
      <div class="global-header-action">
        <div class="global-header-action-container">
          <!-- <a class="global-header__install-btn global-header__btn" href="#!">
            <i class="fa fa-download"></i> Install Steam
          </a> -->
          <!-- <a
            class="global-header__action-btn global-header__btn"
            href="./login.html"
            >login</a
          >
          <a
            class="global-header__action-btn global-header__btn"
            href="./signup.html"
            >signup</a
          > -->
          <!-- <p class="header-name">tritin21</p>
          <img src="./assets/images/avatar.jpg" alt="" class="header-avatar" />
          <div class="header-dropdown">
            <ul>
              <li class="drop-down__item">
                <a href="./profile.html">View my profile</a>
              </li>
              <li class="logout-btn drop-down__item">Sign out of account</li>
            </ul>
          </div> -->

          <!-- <button class="global-header__language-btn global-header__btn">
            language <i class="fa fa-caret-down"></i>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
